<a href="https://colab.research.google.com/github/saurater/machine_learning/blob/main/SKLearn_Random_Forest_Missing_Values_Imputa%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SKLearn - Random Forest - Missing Values - Imputação

Fonte: **Kaggle Learn**

Adaptação: **Sam Faraday**

# Importando as Bibliotecas de Trabalho

In [1]:
# O velho Pandas 
import pandas as pd 
# Vamos usar para dividir os dados de treino e de validação
from sklearn.model_selection import train_test_split 
# Florestas Randômicas como Modelo de Machine Learning
from sklearn.ensemble import RandomForestRegressor
# Para Calcularmos o Erro Absoluto Médio
from sklearn.metrics import mean_absolute_error
# Para Imputarmos os Valores Faltantes
from sklearn.impute import SimpleImputer

## Lendo os Arquivos de Treino e de Teste

In [2]:
# Lendo o Arquivo de Treino
df_treino_completo = pd.read_csv('train.csv', index_col='Id')
# Lendo o Arquivo de  Teste
df_teste_completo  = pd.read_csv('test.csv' , index_col='Id')

# Descrição dos Campos do Dataset

1. **SalePrice** - Preço de venda do imóvel em dólares. Esta é a variável de destino que você está tentando prever.
2. **MSSubClass**: A classe de construção
3. **MSZoning**: A classificação geral de zoneamento
4. **LotFrontage**: Pés lineares da rua conectada à propriedade
5. **LotArea**: Tamanho do lote em pés quadrados
6. **Street**: Rua - Tipo de acesso rodoviário
7. **Alley**: Beco - Tipo de acesso ao beco
8. **LotShape**: forma geral da propriedade
9. **LandContour**: Planicidade da propriedade
10. **Utilities**: Tipo de utilitários disponíveis
11. **LotConfig**: configuração de lote
12. **LandSlope**: Inclinação da propriedade
13. **Neighborhood**: locais físicos dentro dos limites da cidade de Ames
14. **Condition1**: Proximidade da estrada principal ou ferrovia
15. **Condition2**: Proximidade da estrada principal ou ferrovia (se houver uma segunda)
16. **BldgType**: Tipo de habitação
17. **HouseStyle**: Estilo de habitação
18. **OverallQual**: qualidade geral do material e do acabamento
19. **OverallCond**: classificação geral da condição
20. **YearBuilt**: data de construção original
21. **YearRemodAdd**: data de remodelação
22. **RoofStyle**: Tipo de telhado
23. **RoofMatl**: Material do telhado
24. **Exterior1º**: Cobertura exterior da casa
25. **Exterior2nd**: Revestimento exterior da casa (se houver mais de um material)
26. **MasVnrType**: Tipo de folheado de alvenaria
27. **MasVnrArea**: Área de folheado de alvenaria em pés quadrados
28. **ExterQual**: Qualidade do material exterior
29. **ExterCond**: Condição atual do material no exterior
30. **Foundation**: Tipo de fundação
31. **BsmtQual**: Altura do porão
32. **BsmtCond**: Estado geral da cave
33. **BsmtExposure**: Paredes do porão no nível do jardim ou paradas
34. **BsmtFinType1**: Qualidade da área acabada do porão
35. **BsmtFinSF1**: Tipo 1 pés quadrados acabados
36. **BsmtFinType2**: Qualidade da segunda área finalizada (se houver)
37. **BsmtFinSF2**: Tipo 2 pés quadrados acabados
38. **BsmtUnfSF**: Pés quadrados inacabados da área do porão
39. **TotalBsmtSF**: Total de pés quadrados da área do porão
40. **Heating**: Tipo de aquecimento
41. **HeatingQC**: Qualidade e condição de aquecimento
42. **CentralAir**: Ar condicionado central
43. **Electrical**: sistema elétrico
44. **1stFlrSF**: Primeiro andar pés quadrados
45. **2ndFlrSF**: Segundo andar pés quadrados
46. **LowQualFinSF**: Pés quadrados com acabamento de baixa qualidade (todos os andares)
47. **GrLivArea**: Área de estar acima do nível (solo) pés quadrados
48. **BsmtFullBath**: Banheiros completos do porão
49. **BsmtHalfBath**: lavabos no porão
50. **FullBath**: banheiros completos acima do nível
51. **HalfBath**: lavabos acima do nível
52. **Bedroom**: Número de quartos acima do nível do subsolo
53. **Kitchen**: Número de cozinhas
54. **KitchenQual**: Qualidade da cozinha
55. **TotRmsAbvGrd**: Total de quartos acima do nível (não inclui banheiros)
56. **Functional**: classificação da funcionalidade inicial
57. **Fireplaces**: Número de lareiras
58. **FireplaceQu**: qualidade da lareira
59. **GarageType**: Localização da garagem
60. **GarageYrBlt**: Ano em que a garagem foi construída
61. **GarageFinish**: Acabamento interior da garagem
62. **GarageCars**: Tamanho da garagem em capacidade do carro
63. **GarageAreav**: Tamanho da garagem em pés quadrados
64. **GarageQual**: Qualidade de garagem
65. **GarageCond**: Condição da garagem
66. **PavedDrive**: Via pavimentada
67. **WoodDeckSF**: Área do deck de madeira em pés quadrados
68. **OpenPorchSF**: Área de varanda aberta em pés quadrados
69. **EnclosedPorch**: Área de varanda fechada em pés quadrados
70. **3SsnPorch**: Área de varanda de três temporadas em pés quadrados
71. **ScreenPorch**: Área da varanda em pés quadrados
72. **PoolArea**: Área da piscina em pés quadrados
73. **PoolQC**: Qualidade da piscina
74. **Fence**: Qualidade da cerca
75. **MiscFeature**: Recurso diverso não coberto em outras categorias
76. **MiscVal**: $Value do recurso diverso
77. **MoVendido**: Mês Vendido
78. **Ano Vendido**: Ano Vendido
79. **SaleType**: Tipo de venda
80. **SaleCondition**: Condição de venda

# Removendo linhas Sem o Preço de Venda (Alvo - Target)
# e Separando o Alvo (Target) das Preditoras

**dropna** - Dropa Valores Nulos

**axis** - Opcional, padrão 0.


*   0 e 'index' remove **Linhas** que contém valores Nulos
*   1 e 'columns' remove **Colunas** que contém valores Nulos

**inplace** -  True ou False. Se True, aplica a alteração no dataframe imediatamente

In [3]:
# Removendo linhas sem o Preço de Venda (nosso alvo) 
df_treino_completo.dropna(axis=0, subset=['SalePrice'], inplace=True)

# Separando o Alvo (target) dos Preditores
y_alvo_sales_price = df_treino_completo.SalePrice

# Removendo a  Coluna Alvo - Preço de Venda
df_treino_completo.drop(['SalePrice'], axis=1, inplace=True)

In [63]:
y_alvo_sales_price.head(5)

Id
1    208500
2    181500
3    223500
4    140000
5    250000
Name: SalePrice, dtype: int64

# Removendo as Features (Colunas) Não-Numéricas

In [4]:
# Pra fins didáticos, vamos dropar as colunas Não-Numéricas. 
# Cuidado, na vida real vc precisa fazer Feature Engineering para identificar a importância de cada coluna
X_preditoras_treino     = df_treino_completo.select_dtypes(exclude=['object'])
X_preditoras_teste      =  df_teste_completo.select_dtypes(exclude=['object'])

# Separando os Dados de Treino e de Validação
Tanto das Features (X) como da Coluna Alvo (Y)

In [5]:
# Break off validation set from training data
X_treino, X_validacao, y_treino, y_validacao = train_test_split(X_preditoras_treino, y_alvo_sales_price, train_size=0.8, test_size=0.2,random_state=0)

X_treino.head(5)

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
Id,,,,,,,,,,,,,,,,,,,,,
619,20,90.0,11694,9,5,2007,2007,452.0,48,0,...,774,0,108,0,0,260,0,0,7,2007
871,20,60.0,6600,5,5,1962,1962,0.0,0,0,...,308,0,0,0,0,0,0,0,8,2009
93,30,80.0,13360,5,7,1921,2006,0.0,713,0,...,432,0,0,44,0,0,0,0,8,2009
818,20,NaN,13265,8,5,2002,2002,148.0,1218,0,...,857,150,59,0,0,0,0,0,7,2008
303,20,118.0,13704,7,5,2001,2002,150.0,0,0,...,843,468,81,0,0,0,0,0,1,2006

# Investigação Preliminar
## Qtd. de Linhas, de Colunas e de Valores Faltantes

In [6]:
# Vendo o Shape dos Dados de Treino (Quantidades de Linhas e Colunas)
print("Qtd. de Linhas : "   + str(X_treino.shape[0]))
print("Qtd. de Colunas:   " + str(X_treino.shape[1]) +'\n')

# Quantidade de Valores Faltantes em Cada Coluna de Treino
qtd_valores_faltantes_por_coluna = (X_treino.isnull().sum())

print(qtd_valores_faltantes_por_coluna[qtd_valores_faltantes_por_coluna > 0])

Qtd. de Linhas : 1168
Qtd. de Colunas:   36

LotFrontage    212
MasVnrArea       6
GarageYrBlt     58
dtype: int64

# Convertendo a Series em Dataframe, 
1. Alterando os Nomes
2. Calculando o Perccentual
3. Filtrando por Valores Maiores que Zero

In [7]:
#Convertendo a Series em Dataframe
df_Faltantes = qtd_valores_faltantes_por_coluna.to_frame().reset_index()

#Alterando os Nomes
df_Faltantes.columns.values[0] = "Features"
df_Faltantes.columns.values[1] = "Faltando"

#Calculando o Perccentual
df_Faltantes["Percentual"] = round((df_Faltantes['Faltando'] / X_treino.shape[0]) * 100,2)

#Filtrando por valores maiores que zero
df_Faltantes = df_Faltantes[df_Faltantes['Faltando']>0]
df_Faltantes

       Features  Faltando  Percentual
1   LotFrontage       212       18.15
7    MasVnrArea         6        0.51
24  GarageYrBlt        58        4.97

## Criando Totais

In [8]:
#Cria um Dicionário
tot = {
  "Features"  : ['Totais'],
  "Faltando"  : [df_Faltantes['Faltando'].sum()],
  "Percentual": [df_Faltantes['Percentual'].sum()]
}
#Converte o Dic em DF
df_Totais = pd.DataFrame(tot)
df_Totais

  Features  Faltando  Percentual
0   Totais       276       23.63

## Apendando o df_Totais ao df_Faltantes

In [9]:
df_Faltantes.append(df_Totais)

       Features  Faltando  Percentual
1   LotFrontage       212       18.15
7    MasVnrArea         6        0.51
24  GarageYrBlt        58        4.97
0        Totais       276       23.63

# Estratégia

Como há relativamente algumas entradas ausentes nos dados (tem coluna com quase 20%), podemos esperar que a eliminação de colunas não produza bons resultados. Isso ocorre porque estaríamos jogando fora muitos dados valiosos e, portanto, a imputação provavelmente terá um desempenho melhor.

# Função para Comparar Diferentes Técnicas
Para comparar Diferentes Técncias para lidar com valores ausentes, vamos criar uma função chamada escore_do_dataset. Esta função relata o **Erro Absoluto Médio (MAE)** de um modelo de **Random Florest**.

**n_estimators** -  Este é o número de árvores que você deseja construir antes de obter a votação máxima ou as médias das previsões. Um número maior de árvores oferece melhor desempenho, mas torna seu código mais lento. Você deve escolher o valor mais alto que seu processador possa suportar, pois isso torna suas previsões mais fortes e estáveis.

**fit** -  Ajusta o modelo. Em outras palavras, treina o modelo, recebendo, por parâmetro, as **preditoras** e a **alvo**.

**random_state** - 
Esse parâmetro facilita a replicação de uma solução. Um valor definido de random_state sempre produzirá os mesmos resultados se fornecido com os mesmos parâmetros e dados de treinamento.

In [10]:
def escore_do_dataset(X_treino, X_validacao, y_treino, y_validacao):
    
    meu_modelo_random_forest = RandomForestRegressor(n_estimators=100, random_state=0)
    meu_modelo_random_forest.fit(X_treino, y_treino)
    preds = meu_modelo_random_forest.predict(X_validacao)
    
    return mean_absolute_error(y_validacao, preds)

# Dropando Colunas com Valores Ausentes

Nesta etapa, você pré-processará os dados em X_treino e X_validacao para remover colunas com valores ausentes. 

Defina os DataFrames pré-processados ​​para reduzido_X_treino e reduzido_X_validacaoo, respectivamente.

In [11]:
# Pega os nomes das colunas com valores faltantes
colunas_com_valores_faltantes = [colunas for colunas in X_treino.columns if X_treino[colunas].isnull().any()]

# Dropa colunas nos dados de treinamento e validação
reduzido_X_treino    = X_treino.drop(colunas_com_valores_faltantes , axis=1)
reduzido_X_validacao = X_validacao.drop(colunas_com_valores_faltantes , axis=1)

In [12]:
print("MAE (De Colunas com Valores Ausentes Dropadas):")
mae_colunas_dropadas = round(escore_do_dataset(reduzido_X_treino, reduzido_X_validacao, y_treino, y_validacao))
print(mae_colunas_dropadas)

MAE (De Colunas com Valores Ausentes Dropadas):
17838

In [13]:
reduzido_X_treino.shape

(1168, 33)

In [14]:
type(y_treino)

pandas.core.series.Series

In [15]:
df_y_alvo_treino = pd.DataFrame({'Sales Price Previsto': y_treino}).reset_index()
type(df_y_alvo_treino)

pandas.core.frame.DataFrame

In [16]:
df_y_alvo_treino['Sales Price Previsto']

0       314813
1       109500
2       163500
3       271000
4       205000
         ...
1163    337000
1164    128000
1165    112000
1166    234000
1167    221000
Name: Sales Price Previsto, Length: 1168, dtype: int64

# Imputação
Transformador - Imputa valores ausentes com a média, media, mais comum ou constante, tendo a média como padrão

**fit** = aprende a regra

**transform** - aplica o que aprendeu com o **fit**

**fit_transform** aprende e aplica 

Chamamos o método **fit_transform()** em nossos dados de **Treinamento** 

e o método **transform()** em nossos dados de **Teste**

In [17]:
meu_imputador = SimpleImputer()

imputado_X_treino    = pd.DataFrame(meu_imputador.fit_transform(X_treino))
imputado_X_validacao = pd.DataFrame(meu_imputador.transform(X_validacao))

# A imputação remove os nomes das colunas. Vamos colocá-las de volta
imputado_X_treino.columns    = X_treino.columns
imputado_X_validacao.columns = X_validacao.columns

In [18]:
imputado_X_treino.head(2)

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
0,20.0,90.0,11694.0,9.0,5.0,2007.0,2007.0,452.0,48.0,0.0,...,774.0,0.0,108.0,0.0,0.0,260.0,0.0,0.0,7.0,2007.0
1,20.0,60.0,6600.0,5.0,5.0,1962.0,1962.0,0.0,0.0,0.0,...,308.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,2009.0

In [19]:
imputado_X_validacao.head(2)

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
0,20.0,69.614017,32668.0,6.0,3.0,1957.0,1975.0,103.481067,1219.0,0.0,...,484.0,0.0,0.0,200.0,0.0,0.0,0.0,0.0,3.0,2007.0
1,50.0,79.000000,9490.0,6.0,7.0,1941.0,1950.0,0.000000,403.0,165.0,...,240.0,0.0,0.0,32.0,0.0,0.0,0.0,0.0,8.0,2006.0

In [20]:
print("MAE (Imputação):")
mae_imputacao = round(escore_do_dataset(imputado_X_treino, imputado_X_validacao, y_treino, y_validacao))
print(mae_imputacao)

MAE (Imputação):
18063

In [21]:
dic_mae = {
  "Dropadas": [mae_colunas_dropadas],
  "Imputacao": [mae_imputacao]
}
df_mae = pd.DataFrame(dic_mae, ["MAE"])
df_mae

     Dropadas  Imputacao
MAE     17838      18063

In [31]:
imputado_X_treino['Sales Price Previsto']   = df_y_alvo_treino['Sales Price Previsto']
imputado_X_treino.head(5)

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,Sales Price Previsto
0,20.0,90.000000,11694.0,9.0,5.0,2007.0,2007.0,452.0,48.0,0.0,...,0.0,108.0,0.0,0.0,260.0,0.0,0.0,7.0,2007.0,314813
1,20.0,60.000000,6600.0,5.0,5.0,1962.0,1962.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,2009.0,109500
2,30.0,80.000000,13360.0,5.0,7.0,1921.0,2006.0,0.0,713.0,0.0,...,0.0,0.0,44.0,0.0,0.0,0.0,0.0,8.0,2009.0,163500
3,20.0,69.614017,13265.0,8.0,5.0,2002.0,2002.0,148.0,1218.0,0.0,...,150.0,59.0,0.0,0.0,0.0,0.0,0.0,7.0,2008.0,271000
4,20.0,118.000000,13704.0,7.0,5.0,2001.0,2002.0,150.0,0.0,0.0,...,468.0,81.0,0.0,0.0,0.0,0.0,0.0,1.0,2006.0,205000

# Parte B
Dado que há tão poucos valores ausentes no conjunto de dados, esperamos que a imputação tenha um desempenho melhor do que descartar colunas completamente. **No entanto, vemos que a remoção de colunas tem um desempenho um pouco melhor!** Embora isso provavelmente possa ser parcialmente atribuído ao ruído no conjunto de dados, outra explicação potencial é que o método de imputação não é uma boa correspondência para esse conjunto de dados. Ou seja, talvez em vez de preencher o valor médio, faça mais sentido definir cada valor ausente para um valor de 0, preencher o valor encontrado com mais frequência ou usar algum outro método. Por exemplo, considere a coluna GarageYrBlt (que indica o ano em que a garagem foi construída). É provável que, em alguns casos, um valor ausente possa indicar uma casa que não possui garagem. Faz mais sentido preencher o valor mediano ao longo de cada coluna neste caso? Ou poderíamos obter melhores resultados preenchendo o valor mínimo ao longo de cada coluna? Não está muito claro o que é melhor neste caso, mas talvez possamos descartar algumas opções imediatamente - por exemplo, definir valores ausentes nesta coluna como 0 provavelmente produzirá resultados horríveis!

# Etapa 4: Gerar Previsões de Teste
Nesta etapa final, você usará qualquer abordagem de sua escolha para lidar com valores ausentes. Depois de pré-processar os recursos de treinamento e validação, você treinará e avaliará um modelo de floresta aleatória. Em seguida, você pré-processará os dados do teste antes de gerar previsões que podem ser enviadas à competição!


# Parte A

Use a próxima célula de código para pré-processar os dados de treinamento e validação. 

Defina os DataFrames pré-processados ​​para final_X_treino e final_X_validacao.

In [23]:
# Imputatação
final_meu_imputador     = SimpleImputer(strategy='median')
final_X_treino    = pd.DataFrame(final_meu_imputador.fit_transform(X_treino))
final_X_validacao = pd.DataFrame(final_meu_imputador.transform(X_validacao))

# A imputação removeu os nomes das colunas; coloque-os de volta
final_X_treino.columns     = X_treino.columns
final_X_validacao.columns  = X_validacao.columns

X_preditoras_teste.columns = X_treino.columns

Execute a próxima célula de código para treinar e avaliar um modelo de Floresta Aleatória. (Observe que não usamos a função escore_do_dataset() acima, porque em breve usaremos o modelo treinado para gerar previsões de teste!)

In [24]:
# Definir e Ajustar o Modelo
modelo = RandomForestRegressor(n_estimators=100, random_state=0)

modelo.fit(final_X_treino, y_treino)

# Obter previsões de validação e MAE
y_alvo_previsao_validacao = modelo.predict(final_X_validacao)
print("MAE (Sua Técnica):")
print(round(mean_absolute_error(y_validacao, y_alvo_previsao_validacao),2))

MAE (Sua Técnica):
17791.6

In [30]:
final_X_validacao.head(5)

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
0,20.0,69.0,32668.0,6.0,3.0,1957.0,1975.0,0.0,1219.0,0.0,...,484.0,0.0,0.0,200.0,0.0,0.0,0.0,0.0,3.0,2007.0
1,50.0,79.0,9490.0,6.0,7.0,1941.0,1950.0,0.0,403.0,165.0,...,240.0,0.0,0.0,32.0,0.0,0.0,0.0,0.0,8.0,2006.0
2,50.0,69.0,7015.0,5.0,4.0,1950.0,1950.0,161.0,185.0,0.0,...,352.0,0.0,0.0,248.0,0.0,0.0,0.0,0.0,7.0,2009.0
3,60.0,83.0,10005.0,7.0,5.0,1977.0,1977.0,299.0,392.0,0.0,...,505.0,288.0,117.0,0.0,0.0,0.0,0.0,0.0,3.0,2008.0
4,160.0,21.0,1680.0,6.0,5.0,1971.0,1971.0,381.0,0.0,0.0,...,264.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2010.0

# Parte B
Use a próxima célula de código para pré-processar seus dados de teste. Certifique-se de usar um método que esteja de acordo com a forma como você pré-processou os dados de treinamento e validação e defina os recursos de teste pré-processados ​​como final_X_test.

Em seguida, use os recursos de teste pré-processados ​​e o modelo treinado para gerar previsões de teste em preds_test.

In [26]:
# Preprocessando os Dados de Teste
final_X_teste = pd.DataFrame(final_meu_imputador.transform(X_preditoras_teste))

final_X_teste.columns = X_treino.columns

# Pegar as Predições de Testes
y_alvo_previsao_teste = modelo.predict(final_X_teste)

# Convertendo o Array de Previsões em Dataframe

In [27]:
df_previsoes_teste = pd.DataFrame(y_alvo_previsao_teste, columns = ['SalePrice Previsoes'])
df_previsoes_teste.head(5)

   SalePrice Previsoes
0            125985.50
1            154599.50
2            180070.24
3            183544.50
4            197549.92