<a href="https://colab.research.google.com/github/saurater/machine_learning/blob/main/SKlearn_IOWA_House_Price_Prediction_Decision_Tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Scikit Learn - Iowa  House Price Predicition - Decision Tree 
**Sam Faraday**

# Kaggle Configuration

In [ ]:
pip install kaggle

In [ ]:
mkdir ~/.kaggle

In [ ]:
 cp kaggle.json ~/.kaggle/

In [ ]:
! chmod 600 ~/.kaggle/kaggle.json

# Downloading and unzipping dataset

In [ ]:
! kaggle competitions download -c home-data-for-ml-course

In [ ]:
!unzip home-data-for-ml-course.zip

# Importing working libraries

In [ ]:
import pandas as pd

# Read the Training File

In [ ]:
iowa_file_path = 'train.csv'

home_data = pd.read_csv(iowa_file_path)

home_data.iloc[0:10, 0:20]
#home_data

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,YearBuilt
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2003
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,Gtl,Veenker,Feedr,Norm,1Fam,1Story,6,8,1976
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2001
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,Norm,Norm,1Fam,2Story,7,5,1915
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,Norm,Norm,1Fam,2Story,8,5,2000
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,Mitchel,Norm,Norm,1Fam,1.5Fin,5,5,1993
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,Somerst,Norm,Norm,1Fam,1Story,8,5,2004
7,8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,NWAmes,PosN,Norm,1Fam,2Story,7,6,1973
8,9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,OldTown,Artery,Norm,1Fam,1.5Fin,7,5,1931
9,10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,Corner,Gtl,BrkSide,Artery,Artery,2fmCon,1.5Unf,5,6,1939

In [ ]:
home_data.iloc[0:10, 21:40]

,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,MasVnrArea,ExterQual,ExterCond,Foundation,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,Heating
0,Gable,CompShg,VinylSd,VinylSd,BrkFace,196.0,Gd,TA,PConc,Gd,TA,No,GLQ,706,Unf,0,150,856,GasA
1,Gable,CompShg,MetalSd,MetalSd,None,0.0,TA,TA,CBlock,Gd,TA,Gd,ALQ,978,Unf,0,284,1262,GasA
2,Gable,CompShg,VinylSd,VinylSd,BrkFace,162.0,Gd,TA,PConc,Gd,TA,Mn,GLQ,486,Unf,0,434,920,GasA
3,Gable,CompShg,Wd Sdng,Wd Shng,None,0.0,TA,TA,BrkTil,TA,Gd,No,ALQ,216,Unf,0,540,756,GasA
4,Gable,CompShg,VinylSd,VinylSd,BrkFace,350.0,Gd,TA,PConc,Gd,TA,Av,GLQ,655,Unf,0,490,1145,GasA
5,Gable,CompShg,VinylSd,VinylSd,None,0.0,TA,TA,Wood,Gd,TA,No,GLQ,732,Unf,0,64,796,GasA
6,Gable,CompShg,VinylSd,VinylSd,Stone,186.0,Gd,TA,PConc,Ex,TA,Av,GLQ,1369,Unf,0,317,1686,GasA
7,Gable,CompShg,HdBoard,HdBoard,Stone,240.0,TA,TA,CBlock,Gd,TA,Mn,ALQ,859,BLQ,32,216,1107,GasA
8,Gable,CompShg,BrkFace,Wd Shng,None,0.0,TA,TA,BrkTil,TA,TA,No,Unf,0,Unf,0,952,952,GasA
9,Gable,CompShg,MetalSd,MetalSd,None,0.0,TA,TA,BrkTil,TA,TA,No,GLQ,851,Unf,0,140,991,GasA

In [ ]:
home_data.iloc[0:10, 41:60]

,CentralAir,Electrical,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Functional,Fireplaces,FireplaceQu,GarageType,GarageYrBlt
0,Y,SBrkr,856,854,0,1710,1,0,2,1,3,1,Gd,8,Typ,0,NaN,Attchd,2003.0
1,Y,SBrkr,1262,0,0,1262,0,1,2,0,3,1,TA,6,Typ,1,TA,Attchd,1976.0
2,Y,SBrkr,920,866,0,1786,1,0,2,1,3,1,Gd,6,Typ,1,TA,Attchd,2001.0
3,Y,SBrkr,961,756,0,1717,1,0,1,0,3,1,Gd,7,Typ,1,Gd,Detchd,1998.0
4,Y,SBrkr,1145,1053,0,2198,1,0,2,1,4,1,Gd,9,Typ,1,TA,Attchd,2000.0
5,Y,SBrkr,796,566,0,1362,1,0,1,1,1,1,TA,5,Typ,0,NaN,Attchd,1993.0
6,Y,SBrkr,1694,0,0,1694,1,0,2,0,3,1,Gd,7,Typ,1,Gd,Attchd,2004.0
7,Y,SBrkr,1107,983,0,2090,1,0,2,1,3,1,TA,7,Typ,2,TA,Attchd,1973.0
8,Y,FuseF,1022,752,0,1774,0,0,2,0,2,2,TA,8,Min1,2,TA,Detchd,1931.0
9,Y,SBrkr,1077,0,0,1077,1,0,1,0,2,2,TA,5,Typ,2,TA,Attchd,1939.0

In [ ]:
home_data.iloc[0:10, 61:81]

,GarageCars,GarageArea,GarageQual,GarageCond,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,2,548,TA,TA,Y,0,61,0,0,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,460,TA,TA,Y,298,0,0,0,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,2,608,TA,TA,Y,0,42,0,0,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,3,642,TA,TA,Y,0,35,272,0,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,3,836,TA,TA,Y,192,84,0,0,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
5,2,480,TA,TA,Y,40,30,0,320,0,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
6,2,636,TA,TA,Y,255,57,0,0,0,0,NaN,NaN,NaN,0,8,2007,WD,Normal,307000
7,2,484,TA,TA,Y,235,204,228,0,0,0,NaN,NaN,Shed,350,11,2009,WD,Normal,200000
8,2,468,Fa,TA,Y,90,0,205,0,0,0,NaN,NaN,NaN,0,4,2008,WD,Abnorml,129900
9,1,205,Gd,TA,Y,0,4,0,0,0,0,NaN,NaN,NaN,0,1,2008,WD,Normal,118000

# Step 1: Specify Prediction Target

In [ ]:
print(home_data.columns)

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [ ]:
y = home_data['SalePrice']

# Step 2: Create X
Now you will create a DataFrame called X holding the predictive features.

Since you want only some columns from the original data, you'll first create a list with the names of the columns you want in X.

You'll use just the following columns in the list (you can copy and paste the whole list to save some typing, though you'll still need to add quotes):

LotArea

YearBuilt

1stFlrSF

2ndFlrSF

FullBath

BedroomAbvGr

TotRmsAbvGrd

After you've created that list of features, use it to create the DataFrame that you'll use to fit the model.

In [ ]:
# Create the list of features below
feature_names = ['LotArea', 'YearBuilt', '1stFlrSF','2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd' ]

# Select data corresponding to features in feature_names
X = home_data[feature_names]

# Review Data

In [ ]:
print(X.describe())

             LotArea    YearBuilt     1stFlrSF     2ndFlrSF     FullBath  \
count    1460.000000  1460.000000  1460.000000  1460.000000  1460.000000
mean    10516.828082  1971.267808  1162.626712   346.992466     1.565068
std      9981.264932    30.202904   386.587738   436.528436     0.550916
min      1300.000000  1872.000000   334.000000     0.000000     0.000000
25%      7553.500000  1954.000000   882.000000     0.000000     1.000000
50%      9478.500000  1973.000000  1087.000000     0.000000     2.000000
75%     11601.500000  2000.000000  1391.250000   728.000000     2.000000
max    215245.000000  2010.000000  4692.000000  2065.000000     3.000000

       BedroomAbvGr  TotRmsAbvGrd
count   1460.000000   1460.000000
mean       2.866438      6.517808
std        0.815778      1.625393
min        0.000000      2.000000
25%        2.000000      5.000000
50%        3.000000      6.000000
75%        3.000000      7.000000
max        8.000000     14.000000

# Define the Target Column

In [ ]:
y = home_data['SalePrice']


# Step 3: Specify and Fit Model
Create a DecisionTreeRegressor and save it iowa_model. Ensure you've done the relevant import from sklearn to run this command.

Then fit the model you just created using the data in X and y that you saved above.

In [ ]:
from sklearn.tree import DecisionTreeRegressor
iowa_model = DecisionTreeRegressor(random_state=1)
iowa_model.fit(X, y)

DecisionTreeRegressor(random_state=1)

# Step 4: Make Predictions

In [ ]:
predictions = iowa_model.predict(X.head())

In [ ]:
print("First in-sample predictions         :", iowa_model.predict(X.head()))
print("Actual target values for those homes:", y.head().tolist())

First in-sample predictions         : [208500. 181500. 223500. 140000. 250000.]
Actual target values for those homes: [208500, 181500, 223500, 140000, 250000]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1)

In [ ]:
print("train_X - 75% Training   :  " , str(train_X.shape)) 
print("  val_X - 25% Validation :  " , str(val_X.shape)) 
print("train_y - 75% Training   :  " , str(train_y.shape))
print("  val_y - 25% Validation :  " , str(val_y.shape))

train_X - 75% Training   :   (1095, 7)
  val_X - 25% Validation :   (365, 7)
train_y - 75% Training   :   (1095,)
  val_y - 25% Validation :   (365,)

In [ ]:
iowa_model = DecisionTreeRegressor(random_state=1)

In [ ]:
iowa_model.fit(train_X, train_y)

DecisionTreeRegressor(random_state=1)

In [ ]:
val_predictions = iowa_model.predict(val_X)

In [ ]:
val_predictions

array([186500., 184000., 130000.,  92000., 164500., 220000., 335000.,
       144152., 215000., 262000., 180000., 121000., 175900., 210000.,
       248900., 131000., 100000., 149350., 235000., 156000., 149900.,
       265979., 193500., 377500., 100000., 162900., 145000., 180000.,
       582933., 146000., 140000.,  91500., 112500., 113000., 145000.,
       312500., 110000., 132000., 305000., 128000., 162900., 115000.,
       110000., 124000., 215200., 180000.,  79000., 192000., 282922.,
       235000., 132000., 325000.,  80000., 237000., 208300., 100000.,
       120500., 162000., 153000., 187000., 185750., 335000., 129000.,
       124900., 185750., 133700., 127000., 230000., 146800., 157900.,
       136000., 153575., 335000., 177500., 143000., 202500., 168500.,
       105000., 305900., 192000., 190000., 140200., 134900., 128950.,
       213000., 108959., 149500., 190000., 175900., 160000., 250580.,
       157000., 120500., 147500., 118000., 117000., 110000., 130000.,
       148500., 148000., 190000., 130500., 127000., 120500., 135000.,
       168000., 176432., 128000., 147000., 260000., 132000., 129500.,
       171000., 181134., 227875., 189000., 282922.,  94750., 185000.,
       194000., 159000., 279500., 290000., 135000., 299800., 165000.,
       394432., 135750., 155000., 212000., 310000., 134800.,  84000.,
       122900.,  80000., 191000., 755000., 147000., 248000., 106500.,
       145000., 359100., 145000., 192500., 149000., 252000., 109000.,
       215000., 220000., 138500., 185000., 185000., 120500., 181000.,
       173000., 335000.,  67000., 149350.,  67000., 156000., 119000.,
       110500., 184000., 147000., 156000., 171000., 177000., 159000.,
       125000., 105000., 284000., 167500., 200000., 312500., 213000.,
       135960., 205000., 237000., 107000., 163000., 132500., 155835.,
       165500., 138500., 257000., 160000., 394617., 281213., 161000.,
       127500.,  88000., 139000.,  89500., 132500., 134800., 335000.,
       248900., 155000., 147000.,  86000., 185000., 200000., 180500.,
       215200., 319900., 105000., 194000., 340000., 256000., 280000.,
       186500., 105500., 155000., 133500., 255500., 253000., 130000.,
        92900., 256000., 100000., 755000., 138500., 168500., 112000.,
       127000., 109008., 197000., 245500., 171900., 162000., 128000.,
       173000., 132000., 118000., 235128., 118964., 260000., 116000.,
       185000., 315750., 236500., 140000., 151500., 184000.,  84000.,
       130000., 154000., 205000., 110000., 151500., 123000., 129500.,
       173900., 181500., 165500., 106500., 184900.,  84500., 377500.,
       118500., 180000., 190000., 208500., 181000.,  98000., 157000.,
       151500.,  84000., 139000., 100000., 161750., 165600., 116000.,
       118500., 187000., 147000., 112000., 132000., 230000., 128000.,
       147000., 125000., 145000., 151000., 284000., 221000., 140200.,
       129000., 290000., 105000.,  96500., 310000., 140000., 132000.,
       203000., 221000., 215200., 214000., 139000.,  91500., 148000.,
       155000., 115000., 180000., 165500., 223000., 139000., 179900.,
       150000., 185000., 163000., 176000., 127000., 227000., 146000.,
        99900., 275000., 180500., 180000., 157000., 186500., 179900.,
       137500., 219500., 155000., 345000., 197000., 205000., 159000.,
       159434., 156000., 196000., 252678., 255500., 213000., 150900.,
       143750., 139000., 260000., 189000., 213250., 207500.,  80000.,
       221000., 109500., 155000., 165000., 149350., 204900., 105900.,
       155000., 176000., 395000., 149700., 147000., 143900., 226700.,
       176000., 116000., 325300., 133750., 188500., 148500., 284000.,
       201800.])

#Mean Absolute Error

In [ ]:
from sklearn.metrics import mean_absolute_error
val_mae = mean_absolute_error(val_y, val_predictions)

In [ ]:
val_mae

29652.931506849316

# Underfitting vs Overfitting

In [ ]:
from sklearn.metrics import mean_absolute_error

In [ ]:
def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return(mae)

In [ ]:
validation =[[],[]]
for max_leaf_nodes in [5, 50, 500, 5000]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))
    validation[0].append(max_leaf_nodes)
    validation[1].append(round(my_mae,2))
print(validation)

Max leaf nodes: 5  		 Mean Absolute Error:  35044
Max leaf nodes: 50  		 Mean Absolute Error:  27405
Max leaf nodes: 500  		 Mean Absolute Error:  29454
Max leaf nodes: 5000  		 Mean Absolute Error:  30139
[[5, 50, 500, 5000], [35044.51, 27405.93, 29454.19, 30139.52]]

In [ ]:
print(validation)

[[5, 50, 500, 5000], [35044.51, 27405.93, 29454.19, 30139.52]]

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(validation[0], validation[1])

In [ ]:
df

             0
35044.51     5
27405.93    50
29454.19   500
30139.52  5000

In [ ]:
candidate_max_leaf_nodes = [5, 25, 50, 100, 250, 500]

In [ ]:
min_nodes = {leaf_size: get_mae(leaf_size, train_X, val_X, train_y, val_y) for leaf_size in candidate_max_leaf_nodes}

In [ ]:
min_nodes

{5: 35044.51299744237,
 25: 29016.41319191076,
 50: 27405.930473214907,
 100: 27282.50803885739,
 250: 27893.822225701646,
 500: 29454.18598068598}

In [ ]:
best_tree_size = min(min_nodes, key=min_nodes.get)

In [ ]:
best_tree_size

100

In [ ]:
min_nodes[best_tree_size]

27282.50803885739

In [ ]:
print("The best tree size is " + str(best_tree_size) + " with min mae " + str(round(min_nodes[best_tree_size],2)))

The best tree size is 100 with min mae 27282.51

# Using the Best Tree Size to Retrain the Model

In [ ]:
final_model = DecisionTreeRegressor(max_leaf_nodes=best_tree_size, random_state=1)

# fit the final model
final_model.fit(X, y)

DecisionTreeRegressor(max_leaf_nodes=100, random_state=1)